<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %></h2>


<p>
  Founded <%= @beer_club.founded %> in <%= @beer_club.city %>
</p>



<% if @beer_club.members.any? %>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li>
        <%= link_to member.username, member %>
      </li>      
    <% end %>
  </ul>
<% else %>
  <p>no members</p>
<% end %>

<% if current_user %>
  <% if current_user.is_member_of? @beer_club %>
    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership", class:"btn btn-danger" %>
    <% end %>     
  <% else %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"join the club", class:'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

<br>
<%= edit_and_destroy_buttons(@beer_club) %>