<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p>
  <% unless @user.beer_clubs.empty? %>
  member of 
  <% @user.beer_clubs.each do |club| %>
      <%=link_to club.name, club %>
  <% end %>
  <% end %>
</p>

<% if @user.ratings.any? %>

  <p>Has made <%= pluralize(@user.ratings.count, "rating", "ratings") %>, average rating <%= @user.average_rating %>.</p>
  <p> Favorite beer: <%= @user.favorite_beer.name %> </p>
  <p> Favorite brewery: <%= @user.favorite_brewery.name %> </p>
  <p> Favorite style: <%= @user.favorite_style %> </p>  

<h2>ratings</h2>

  <ul>
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= rating %> 
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
 <% end %>
 
<% if @user == current_user %>
  <%= link_to 'change password', edit_user_path(@user) %> |
  <%= link_to 'destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>