<p id="notice"><%= notice %></p>

<h1><%= @style.name %></h1>

<p>
  <%= @style.description %>
</p>

<h3>beers</h3>

<ul>
  <% @style.beers.each do |beer| %>
    <li>
      <%= link_to beer.name, beer %> by
      <em>
        <%= link_to beer.brewery.name, beer.brewery %>
      </em>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'Edit', edit_style_path(@style), class:'btn btn-primary'  %>
<% end %>