<p id="notice"><%= notice %></p>

<p> <%= @place.street %></p>

<p> <%= @place.zip %> <%= @place.city %> </p>

<!-- ei toistaiseksi karttaa
<iframe src="<%= @place.url %>" width="600" height="400"></iframe>
-->